body{
    margin:0;
    padding:0;
}

.header-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    img {
        width:50%;
    }
}

.location-icon{
    width: 15px;
    height: 15px;
}

.location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    background-color: lightgray;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 4px 0px inset;
    font-size: large;
}

.book{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    padding:30px;
    font-size: x-large;
}

.gradient-button{
    border-radius: 50px 50px 50px 50px;
    border-style: none;
    background-color:darkorchid;
    height: 50px;
    font-size: medium;
    padding:10px;
    background-image: linear-gradient(to top left, #9356DC, #FF79DA);
    width: 200px;
    color: white;
}

.works-buttons{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding:30px;
}

.button-work{
    border-radius: 30px 30px 30px 30px;
    border-style: none;
    height: 100px;
}

.restaurant-card{
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
    img{
        height: auto;
        width: 100%;
        object-fit: cover;
    }
}

.restaurant-card-text-icon{
    display: flex;
    flex-direction: row;
}

.restaurant-card-text{
    width: 80%;
}

.restaurant-card-icon{
 width: 40px;   
 height: 40px;
 align-self: center;
 justify-self: center;
}


.footer-container{
    background-color: black;
    color: white;
    padding: 20px;

    svg {
        -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
                filter: invert(100%);
        }
}


