
body{
    margin:0;
    padding:0;
}

.header-logo-container{
    display: flex;
    justify-content: center;
    position: relative;
    height: 75px;
    padding:10px;
    button{
        background-color: transparent;
        border: none;
        width:100px;
        padding:10px;
        font-size: x-large;

        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);        
    }
    img{
        width: 50%;
    }
}

.location-icon{
    width: 15px;
    height: 15px;
}

.location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    background-color: lightgray;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 4px 0px inset;
    font-size: large;
}

.book{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    padding:30px;
    font-size: x-large;
    background-color: rgb(238, 235, 235);
    padding-bottom: 50px;
}

.gradient-button{
    border-radius: 50px 50px 50px 50px;
    border-style: none;
    background-color:darkorchid;
    height: 65px;
    font-size: medium;
    padding:10px;
    background-image: linear-gradient(to top left, #9356DC, #FF79DA);
    width: 250px;
    color: white;
}

.works{
    h1{padding:30px;}
}
.works-buttons{
    display: flex;
    flex-direction: column;
    gap:30px;
    padding:40px;
}

.button-work{
    display: flex;
    align-items: center;
    border-radius: 30px 30px 30px 30px;
    border-style: none;
    height: 90px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding: 30px;
    position: relative;
    svg{
        width: 20px;
        height: 30px;
        margin:20px;
    }
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.work-step{
    height: 40px;
    width: 40px;
    background-color: #9356DC;
    border-radius: 50px 50px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left:-20px;    
    color:white;
  }

.restaurants{
    padding: 30px;
    h2{
        font-size: 30px;
        font-weight:bolder;
    }
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.restaurant-card{
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
    img{
        height: 220px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }
    a{
        text-decoration: none;
        color:black
    }
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.restaurant-card:hover{
    svg {
        fill: linear-gradient(to top left, #9356DC, #FF79DA);
    }
}

.restaurant-card-text-icon{
    display: flex;
    flex-direction: row;
}

.restaurant-card-text{
    width: 70%;
    padding-left: 20px;
    font-size: 20px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 0.5;
}

.restaurant-card-icon{
 width: 40px;   
 height: 40px;
 align-self: center;
 justify-self: center;
}


.footer-container{
    background-color:rgb(75, 75, 80);
    color: white;
/*     padding: 10px;
 */    display: flex;
    flex-direction: column;

    svg {
        -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
                filter: invert(100%);
            height: 20px;
        }
}

.footer-items-list{
    list-style: none;
    li{
        display: flex;
        flex-direction: row;
        gap: 10px;
        svg{
            padding-top: 15px;
            width: 20px;
        }
        height: 30px;
    }
    
}
